@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Body-color: #f7f8f0;
  --Primary-color: #7aaace;
  --text-color: #355872;
  --card-color: #bfc9d1;
  --footer-color: #25343f;
}

body {
  background: var(--Body-color);
  color: var(--text-color);
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  text-align: center;
}

nav {
  padding: 0.5rem;
  background: var(--Primary-color);
  color: var(--Body-color);
  text-align: center;
}
a {
  text-decoration: none;
}

li {
  list-style: none;
}

.card {
  background: var(--card-color);
  padding: 0.5rem;
  margin: 1rem 0;
  border-radius: 25px;
  box-shadow: 5px 5px #25343f;
}
/* Start Entro section  */
.entro {
  line-height: 1.6;
}
.entro h1 {
  padding: 10px;
  text-shadow: 2px 2px 4px var(--text-color);
  text-transform: uppercase;
}
.entro img {
  margin: 0.5rem;
  border-radius: 10px;
  box-shadow: 8px 8px 16px var(--footer-color);
}
/* End entro Section  */



/* Start Skill Section  */
.skill {
  text-align: center;
}

.skill h2 {
  padding: 1rem;
  text-transform: uppercase;
  text-shadow: 2px 2px 4px var(--footer-color);
}
.skill table tr th {

  padding: 2rem;
  text-align: center;
   border-bottom: 1px solid #060606;
}





/* Footer section  */
footer {
  position: absolute;
  gap: 2rem;
  width: 100%;
  padding: 1rem;
  background: var(--footer-color);
  color: white;
  text-align: center;
  line-height: 1.6;
}

footer .follow-me {
  padding: 1rem;
  margin: 2rem;
}

footer p {
  position: relative;
  padding: 1rem;
  margin: 2rem;
  color: white;
  font-weight: 700;
}

footer .email-phone {
  padding: 0.5rem;
  margin: 1rem;
}

/* end footer section  */