@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Body-color: #f7f8f0;
  --Primary-color: #7aaace;
  --text-color: #355872;
  --card-color: #bfc9d1;
  --footer-color: #25343f;
}

body {
  color: var(--text-color);
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  text-align: center;
}

nav {
  padding: 0.5rem;
  background: var(--Primary-color);
  color: var(--Body-color);
  text-align: center;
}

h1 {
  padding: 1rem;
  text-transform: uppercase;
  text-shadow: 2px 2px 4px var(--footer-color);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.card {
  background: var(--card-color);
  padding: 2rem;
  margin: 3rem;
  border-radius: 0.5rem;
  box-shadow: 5px 5px rag(0.0.1) var(--footer-color);
}

/* Start Entro section  */
.entro {
  line-height: 1.6;
}

.entro img {
  padding: 1rem;
  margin: 3rem;
  border-radius: 10px;
  box-shadow: 8px 8px 16px var(--footer-color);
}

/* End entro Section  */

/* Start About Section  */

.About {

}

/* Start Skill Section  */
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 1rem;
  text-align: center;
  padding: 0.5rem;
  margin: 1rem;
}

.skill tr th {
  border: 2px solid #7aaace;
}

.skill tr td {
  border: 2px solid #7aaace;
}
/* end skill section  */

/* start contact section  */
.contact {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

button {
  background-color: var(--Primary-color);
 color: var(--Body-color);
 padding: 0.5rem;
 border: none;
 border-radius: 5px;
 cursor: pointer;
}
button:hover{
  text-transform: uppercase;
  background-color: var(--footer-color);
  transition: 0.2s;

}
/* end contact section */

/* Footer section  */
footer {
  position: absolute;
  gap: 2rem;
  width: 100%;
  padding: 1rem;
  background: var(--footer-color);
  color: white;
  text-align: center;
  line-height: 1.6;
}

footer .follow-me {
  padding: 1rem;
  margin: 2rem;
}

footer p {
  position: relative;
  padding: 1rem;
  margin: 2rem;
  color: white;
  font-weight: 700;
}

footer .email-phone {
  padding: 0.5rem;
  margin: 1rem;
}

/* end footer section  */
